
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
    
        <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    
</head>
<body>
    <div id="a792670f8b5c4644bd3b7085b65cb457" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_a792670f8b5c4644bd3b7085b65cb457 = echarts.init(
            document.getElementById('a792670f8b5c4644bd3b7085b65cb457'), 'white', {renderer: 'canvas'});
        
        var option_a792670f8b5c4644bd3b7085b65cb457 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "funnel",
            "name": "\u5546\u54c1",
            "data": [
                {
                    "name": "\u6cb3\u9a6c",
                    "value": 137
                },
                {
                    "name": "\u87d2\u86c7",
                    "value": 150
                },
                {
                    "name": "\u8001\u864e",
                    "value": 51
                },
                {
                    "name": "\u5927\u8c61",
                    "value": 116
                },
                {
                    "name": "\u5154\u5b50",
                    "value": 141
                },
                {
                    "name": "\u718a\u732b",
                    "value": 61
                },
                {
                    "name": "\u72ee\u5b50",
                    "value": 44
                }
            ],
            "sort": "descending",
            "gap": 0,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u718a\u732b",
                "\u72ee\u5b50",
                "\u5154\u5b50",
                "\u5927\u8c61",
                "\u6cb3\u9a6c",
                "\u87d2\u86c7",
                "\u8001\u864e"
            ],
            "selected": {
                "\u6cb3\u9a6c": true,
                "\u87d2\u86c7": true,
                "\u8001\u864e": true,
                "\u5927\u8c61": true,
                "\u5154\u5b50": true,
                "\u718a\u732b": true,
                "\u72ee\u5b50": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "Funnel-\u57fa\u672c\u793a\u4f8b",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_a792670f8b5c4644bd3b7085b65cb457.setOption(option_a792670f8b5c4644bd3b7085b65cb457);
        
        
    </script>
</body>
</html>